<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        Rajiformes
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li {% if pageRoot == '' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="/">Home</a>
            </li>

            <li {% if pageRoot == 'about' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="/about/">About</a>
            </li>

            <li {% if pageRoot == 'doc' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="/doc/10/getting-started/introduction.html">Documentation</a>
            </li>

            <li {% if pageRoot == 'download' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="/download/index.html">Download</a>
            </li>

            <li class="nav-item">
                <a class="nav-link p-2" href="https://github.com/rajiformes" target="_blank" rel="noopener"
                    aria-label="GitHub">Github</a>
            </li>
        </ul>
    </div>
</nav>