{% include header.html %}

<body>
	{% include nav-bar.html %}
	<div class="container-fluid">
		<div class="d-flex bd-highlight">
			<div class="p-2 bd-highlight">
				<ul class="nav flex-column">
					{% for item in site.data.about-side-outline.items %}
					<li {% if page.url == item.url %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
						<a class="nav-link" href="{{ item.url }}">
							{% if page.url == item.url %}
							<b>{{ item.title }}</b>
							{% else %}
							{{ item.title }}
							{% endif %}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="p-2 flex-grow-1 bd-highlight"> {{ content }} </div>
		</div>
	</div>
	{% include footer.html %}
</body>

</html>