<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			<img href='https://github.com/rajiformes/rajiformes.github.io/blob/master/img/raji%20full%20logo.png?raw=true'/>
			
			<nav>
				
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ukaratas@rocketmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
