{% include header.html %}

<body>
    {% include nav-bar.html %}

    <div class="container-fluid">
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
                <ul>
                    {% for item in site.data.documentation-side-outline.items %}
                    <li>
                        <a href="{{ item.url }}">
                            {% if page.url == item.url %}
                            <b>{{ item.title }}</b>
                            {% else %}
                            {{ item.title }}
                            {% endif %}
                        </a>

                        <ul>
                            {% for subItem in item.items %}
                            -{{subItem.title}}-
                            <li>
                                <a href="{{ subItem.url }}">
                                    {% if page.url == subItem.url %}
                                    <b>{{ subItem.title }}</b>
                                    {% else %}
                                    {{ subItem.title }}
                                    {% endif %}
                                </a>

                                <ul>
                                    {% for subSubItem in subItem.items %}
                                    -{{subSubItem.title}}-
                                    <li>
                                        <a href="{{ subSubItem.url }}">
                                            {% if page.url == subSubItem.url %}
                                            <b>{{ subSubItem.title }}</b>
                                            {% else %}
                                            {{ subSubItem.title }}
                                            {% endif %}
                                        </a>
                                    <li>
                                    % endfor %}
                                </ul>
                            <li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="p-2 flex-grow-1 bd-highlight"> {{ content }} </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
