{% include header.html %}

<body>
    {% include nav-bar.html %}

    <div class="container-fluid">
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
                <ul>
                    {% for item in site.data.documentation-side-outline.items %}
                    <li t="item">
                        <a href="{{ item.url }}">
                            {{ item.title }}
                        </a>
                        <ul>
                               {% for subItem in item.items %}
                               <li>
                                <a href="{{ subItem.url }}">
                                    {{ subItem.title }}
                               </a>
                               </li>
                            {% endfor %}
                        </ul>
                       
                      </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="p-2 flex-grow-1 bd-highlight"> {{ content }} </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
